<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>texture</key>
	<dict>
		<key>width</key>
		<integer>1782</integer>
		<key>height</key>
		<integer>545</integer>
	</dict>
	<key>frames</key>
	<dict>
    <key>Third_00.png</key>
    <dict>
			<key>x</key>
			<integer>0</integer>
			<key>y</key>
			<integer>0</integer>
			<key>width</key>
			<integer>162</integer>
			<key>height</key>
			<integer>237</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>0</real>
			<key>originalWidth</key>
			<integer>162</integer>
			<key>originalHeight</key>
			<integer>-237</integer>
		</dict>
    <key>Third_01.png</key>
    <dict>
			<key>x</key>
			<integer>162</integer>
			<key>y</key>
			<integer>0</integer>
			<key>width</key>
			<integer>162</integer>
			<key>height</key>
			<integer>237</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>0</real>
			<key>originalWidth</key>
			<integer>162</integer>
			<key>originalHeight</key>
			<integer>-237</integer>
		</dict>
    <key>Third_02.png</key>
    <dict>
			<key>x</key>
			<integer>324</integer>
			<key>y</key>
			<integer>0</integer>
			<key>width</key>
			<integer>162</integer>
			<key>height</key>
			<integer>237</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>0</real>
			<key>originalWidth</key>
			<integer>162</integer>
			<key>originalHeight</key>
			<integer>-237</integer>
		</dict>
    <key>Third_03.png</key>
    <dict>
			<key>x</key>
			<integer>486</integer>
			<key>y</key>
			<integer>0</integer>
			<key>width</key>
			<integer>162</integer>
			<key>height</key>
			<integer>237</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>0</real>
			<key>originalWidth</key>
			<integer>162</integer>
			<key>originalHeight</key>
			<integer>-237</integer>
		</dict>
    <key>Third_04.png</key>
    <dict>
			<key>x</key>
			<integer>648</integer>
			<key>y</key>
			<integer>0</integer>
			<key>width</key>
			<integer>162</integer>
			<key>height</key>
			<integer>237</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>0</real>
			<key>originalWidth</key>
			<integer>162</integer>
			<key>originalHeight</key>
			<integer>-237</integer>
		</dict>
    <key>Third_05.png</key>
    <dict>
			<key>x</key>
			<integer>810</integer>
			<key>y</key>
			<integer>0</integer>
			<key>width</key>
			<integer>162</integer>
			<key>height</key>
			<integer>237</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>0</real>
			<key>originalWidth</key>
			<integer>162</integer>
			<key>originalHeight</key>
			<integer>-237</integer>
		</dict>
    <key>Third_06.png</key>
    <dict>
			<key>x</key>
			<integer>972</integer>
			<key>y</key>
			<integer>0</integer>
			<key>width</key>
			<integer>162</integer>
			<key>height</key>
			<integer>237</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>0</real>
			<key>originalWidth</key>
			<integer>162</integer>
			<key>originalHeight</key>
			<integer>-237</integer>
		</dict>
    <key>Third_07.png</key>
    <dict>
			<key>x</key>
			<integer>1134</integer>
			<key>y</key>
			<integer>0</integer>
			<key>width</key>
			<integer>162</integer>
			<key>height</key>
			<integer>237</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>0</real>
			<key>originalWidth</key>
			<integer>162</integer>
			<key>originalHeight</key>
			<integer>-237</integer>
		</dict>
    <key>Third_08.png</key>
    <dict>
			<key>x</key>
			<integer>1296</integer>
			<key>y</key>
			<integer>0</integer>
			<key>width</key>
			<integer>162</integer>
			<key>height</key>
			<integer>237</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>0</real>
			<key>originalWidth</key>
			<integer>162</integer>
			<key>originalHeight</key>
			<integer>-237</integer>
		</dict>
    <key>Third_09.png</key>
    <dict>
			<key>x</key>
			<integer>1458</integer>
			<key>y</key>
			<integer>0</integer>
			<key>width</key>
			<integer>162</integer>
			<key>height</key>
			<integer>237</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>0</real>
			<key>originalWidth</key>
			<integer>162</integer>
			<key>originalHeight</key>
			<integer>-237</integer>
		</dict>
    <key>Third_10.png</key>
    <dict>
			<key>x</key>
			<integer>1620</integer>
			<key>y</key>
			<integer>0</integer>
			<key>width</key>
			<integer>162</integer>
			<key>height</key>
			<integer>237</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>0</real>
			<key>originalWidth</key>
			<integer>162</integer>
			<key>originalHeight</key>
			<integer>-237</integer>
		</dict>
    <key>Quarter_00.png</key>
    <dict>
			<key>x</key>
			<integer>0</integer>
			<key>y</key>
			<integer>237</integer>
			<key>width</key>
			<integer>162</integer>
			<key>height</key>
			<integer>162</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>0</real>
			<key>originalWidth</key>
			<integer>162</integer>
			<key>originalHeight</key>
			<integer>-162</integer>
		</dict>
    <key>Quarter_01.png</key>
    <dict>
			<key>x</key>
			<integer>162</integer>
			<key>y</key>
			<integer>237</integer>
			<key>width</key>
			<integer>162</integer>
			<key>height</key>
			<integer>162</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>0</real>
			<key>originalWidth</key>
			<integer>162</integer>
			<key>originalHeight</key>
			<integer>-162</integer>
		</dict>
    <key>Quarter_02.png</key>
    <dict>
			<key>x</key>
			<integer>324</integer>
			<key>y</key>
			<integer>237</integer>
			<key>width</key>
			<integer>162</integer>
			<key>height</key>
			<integer>162</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>0</real>
			<key>originalWidth</key>
			<integer>162</integer>
			<key>originalHeight</key>
			<integer>-162</integer>
		</dict>
    <key>Quarter_03.png</key>
    <dict>
			<key>x</key>
			<integer>486</integer>
			<key>y</key>
			<integer>237</integer>
			<key>width</key>
			<integer>162</integer>
			<key>height</key>
			<integer>162</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>0</real>
			<key>originalWidth</key>
			<integer>162</integer>
			<key>originalHeight</key>
			<integer>-162</integer>
		</dict>
    <key>Quarter_04.png</key>
    <dict>
			<key>x</key>
			<integer>648</integer>
			<key>y</key>
			<integer>237</integer>
			<key>width</key>
			<integer>162</integer>
			<key>height</key>
			<integer>162</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>0</real>
			<key>originalWidth</key>
			<integer>162</integer>
			<key>originalHeight</key>
			<integer>-162</integer>
		</dict>
    <key>Quarter_05.png</key>
    <dict>
			<key>x</key>
			<integer>810</integer>
			<key>y</key>
			<integer>237</integer>
			<key>width</key>
			<integer>162</integer>
			<key>height</key>
			<integer>162</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>0</real>
			<key>originalWidth</key>
			<integer>162</integer>
			<key>originalHeight</key>
			<integer>-162</integer>
		</dict>
    <key>Quarter_06.png</key>
    <dict>
			<key>x</key>
			<integer>972</integer>
			<key>y</key>
			<integer>237</integer>
			<key>width</key>
			<integer>162</integer>
			<key>height</key>
			<integer>162</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>0</real>
			<key>originalWidth</key>
			<integer>162</integer>
			<key>originalHeight</key>
			<integer>-162</integer>
		</dict>
    <key>Quarter_07.png</key>
    <dict>
			<key>x</key>
			<integer>1134</integer>
			<key>y</key>
			<integer>237</integer>
			<key>width</key>
			<integer>162</integer>
			<key>height</key>
			<integer>162</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>0</real>
			<key>originalWidth</key>
			<integer>162</integer>
			<key>originalHeight</key>
			<integer>-162</integer>
		</dict>
    <key>Quarter_08.png</key>
    <dict>
			<key>x</key>
			<integer>1296</integer>
			<key>y</key>
			<integer>237</integer>
			<key>width</key>
			<integer>162</integer>
			<key>height</key>
			<integer>162</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>0</real>
			<key>originalWidth</key>
			<integer>162</integer>
			<key>originalHeight</key>
			<integer>-162</integer>
		</dict>
    <key>Quarter_09.png</key>
    <dict>
			<key>x</key>
			<integer>1458</integer>
			<key>y</key>
			<integer>237</integer>
			<key>width</key>
			<integer>162</integer>
			<key>height</key>
			<integer>162</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>0</real>
			<key>originalWidth</key>
			<integer>162</integer>
			<key>originalHeight</key>
			<integer>-162</integer>
		</dict>
    <key>Quarter_10.png</key>
    <dict>
			<key>x</key>
			<integer>1620</integer>
			<key>y</key>
			<integer>237</integer>
			<key>width</key>
			<integer>162</integer>
			<key>height</key>
			<integer>162</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>0</real>
			<key>originalWidth</key>
			<integer>162</integer>
			<key>originalHeight</key>
			<integer>-162</integer>
		</dict>
    <key>Fifth_00.png</key>
    <dict>
			<key>x</key>
			<integer>0</integer>
			<key>y</key>
			<integer>399</integer>
			<key>width</key>
			<integer>162</integer>
			<key>height</key>
			<integer>146</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>0</real>
			<key>originalWidth</key>
			<integer>162</integer>
			<key>originalHeight</key>
			<integer>-146</integer>
		</dict>
    <key>Fifth_01.png</key>
    <dict>
			<key>x</key>
			<integer>162</integer>
			<key>y</key>
			<integer>399</integer>
			<key>width</key>
			<integer>162</integer>
			<key>height</key>
			<integer>146</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>0</real>
			<key>originalWidth</key>
			<integer>162</integer>
			<key>originalHeight</key>
			<integer>-146</integer>
		</dict>
    <key>Fifth_02.png</key>
    <dict>
			<key>x</key>
			<integer>324</integer>
			<key>y</key>
			<integer>399</integer>
			<key>width</key>
			<integer>162</integer>
			<key>height</key>
			<integer>146</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>0</real>
			<key>originalWidth</key>
			<integer>162</integer>
			<key>originalHeight</key>
			<integer>-146</integer>
		</dict>
    <key>Fifth_03.png</key>
    <dict>
			<key>x</key>
			<integer>486</integer>
			<key>y</key>
			<integer>399</integer>
			<key>width</key>
			<integer>162</integer>
			<key>height</key>
			<integer>146</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>0</real>
			<key>originalWidth</key>
			<integer>162</integer>
			<key>originalHeight</key>
			<integer>-146</integer>
		</dict>
    <key>Fifth_04.png</key>
    <dict>
			<key>x</key>
			<integer>648</integer>
			<key>y</key>
			<integer>399</integer>
			<key>width</key>
			<integer>162</integer>
			<key>height</key>
			<integer>146</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>0</real>
			<key>originalWidth</key>
			<integer>162</integer>
			<key>originalHeight</key>
			<integer>-146</integer>
		</dict>
    <key>Fifth_05.png</key>
    <dict>
			<key>x</key>
			<integer>810</integer>
			<key>y</key>
			<integer>399</integer>
			<key>width</key>
			<integer>162</integer>
			<key>height</key>
			<integer>146</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>0</real>
			<key>originalWidth</key>
			<integer>162</integer>
			<key>originalHeight</key>
			<integer>-146</integer>
		</dict>
    <key>Fifth_06.png</key>
    <dict>
			<key>x</key>
			<integer>972</integer>
			<key>y</key>
			<integer>399</integer>
			<key>width</key>
			<integer>162</integer>
			<key>height</key>
			<integer>146</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>0</real>
			<key>originalWidth</key>
			<integer>162</integer>
			<key>originalHeight</key>
			<integer>-146</integer>
		</dict>
    <key>Fifth_07.png</key>
    <dict>
			<key>x</key>
			<integer>1134</integer>
			<key>y</key>
			<integer>399</integer>
			<key>width</key>
			<integer>162</integer>
			<key>height</key>
			<integer>146</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>0</real>
			<key>originalWidth</key>
			<integer>162</integer>
			<key>originalHeight</key>
			<integer>-146</integer>
		</dict>
    <key>Fifth_08.png</key>
    <dict>
			<key>x</key>
			<integer>1296</integer>
			<key>y</key>
			<integer>399</integer>
			<key>width</key>
			<integer>162</integer>
			<key>height</key>
			<integer>146</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>0</real>
			<key>originalWidth</key>
			<integer>162</integer>
			<key>originalHeight</key>
			<integer>-146</integer>
		</dict>
    <key>Fifth_09.png</key>
    <dict>
			<key>x</key>
			<integer>1458</integer>
			<key>y</key>
			<integer>399</integer>
			<key>width</key>
			<integer>162</integer>
			<key>height</key>
			<integer>146</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>0</real>
			<key>originalWidth</key>
			<integer>162</integer>
			<key>originalHeight</key>
			<integer>-146</integer>
		</dict>
    <key>Fifth_10.png</key>
    <dict>
			<key>x</key>
			<integer>1620</integer>
			<key>y</key>
			<integer>399</integer>
			<key>width</key>
			<integer>162</integer>
			<key>height</key>
			<integer>146</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>0</real>
			<key>originalWidth</key>
			<integer>162</integer>
			<key>originalHeight</key>
			<integer>-146</integer>
		</dict>
</dict>
</dict>
</plist>