<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
  <key>texture</key>
  <dict>
    <key>width</key>
    <integer>1001</integer>
    <key>height</key>
    <integer>480</integer>
  </dict>
  <key>frames</key>
  <dict>
    <key>background</key>
    <dict>
      <key>x</key>
      <integer>0</integer>
      <key>y</key>
      <integer>0</integer>
      <key>width</key>
      <integer>360</integer>
      <key>height</key>
      <integer>480</integer>
      <key>offsetX</key>
      <real>0</real>
      <key>offsetY</key>
      <real>0</real>
      <key>originalWidth</key>
      <integer>360</integer>
      <key>originalHeight</key>
      <integer>-480</integer>
      <key>rotate</key>
      <false />
    </dict>
    <key>gameConsole</key>
    <dict>
      <key>x</key>
      <integer>360</integer>
      <key>y</key>
      <integer>0</integer>
      <key>width</key>
      <integer>360</integer>
      <key>height</key>
      <integer>396</integer>
      <key>offsetX</key>
      <real>0</real>
      <key>offsetY</key>
      <real>0</real>
      <key>originalWidth</key>
      <integer>360</integer>
      <key>originalHeight</key>
      <integer>-396</integer>
      <key>rotate</key>
      <false />
    </dict>
    <key>gameConsoleButton</key>
    <dict>
      <key>x</key>
      <integer>720</integer>
      <key>y</key>
      <integer>0</integer>
      <key>width</key>
      <integer>96</integer>
      <key>height</key>
      <integer>95</integer>
      <key>offsetX</key>
      <real>0</real>
      <key>offsetY</key>
      <real>0</real>
      <key>originalWidth</key>
      <integer>96</integer>
      <key>originalHeight</key>
      <integer>-95</integer>
      <key>rotate</key>
      <false />
    </dict>
    <key>menuButtonLeft</key>
    <dict>
      <key>x</key>
      <integer>720</integer>
      <key>y</key>
      <integer>95</integer>
      <key>width</key>
      <integer>2</integer>
      <key>height</key>
      <integer>44</integer>
      <key>offsetX</key>
      <real>0</real>
      <key>offsetY</key>
      <real>0</real>
      <key>originalWidth</key>
      <integer>2</integer>
      <key>originalHeight</key>
      <integer>-44</integer>
      <key>rotate</key>
      <false />
    </dict>
    <key>menuButtonCenter</key>
    <dict>
      <key>x</key>
      <integer>722</integer>
      <key>y</key>
      <integer>95</integer>
      <key>width</key>
      <integer>1</integer>
      <key>height</key>
      <integer>44</integer>
      <key>offsetX</key>
      <real>0</real>
      <key>offsetY</key>
      <real>0</real>
      <key>originalWidth</key>
      <integer>1</integer>
      <key>originalHeight</key>
      <integer>-44</integer>
      <key>rotate</key>
      <false />
    </dict>
    <key>menuButtonRight</key>
    <dict>
      <key>x</key>
      <integer>750</integer>
      <key>y</key>
      <integer>95</integer>
      <key>width</key>
      <integer>2</integer>
      <key>height</key>
      <integer>44</integer>
      <key>offsetX</key>
      <real>0</real>
      <key>offsetY</key>
      <real>0</real>
      <key>originalWidth</key>
      <integer>2</integer>
      <key>originalHeight</key>
      <integer>-44</integer>
      <key>rotate</key>
      <false />
    </dict>
    <key>menuButtonOnLeft</key>
    <dict>
      <key>x</key>
      <integer>752</integer>
      <key>y</key>
      <integer>95</integer>
      <key>width</key>
      <integer>6</integer>
      <key>height</key>
      <integer>50</integer>
      <key>offsetX</key>
      <real>0</real>
      <key>offsetY</key>
      <real>0</real>
      <key>originalWidth</key>
      <integer>6</integer>
      <key>originalHeight</key>
      <integer>-50</integer>
      <key>rotate</key>
      <false />
    </dict>
    <key>menuButtonOnCenter</key>
    <dict>
      <key>x</key>
      <integer>759</integer>
      <key>y</key>
      <integer>95</integer>
      <key>width</key>
      <integer>1</integer>
      <key>height</key>
      <integer>50</integer>
      <key>offsetX</key>
      <real>0</real>
      <key>offsetY</key>
      <real>0</real>
      <key>originalWidth</key>
      <integer>1</integer>
      <key>originalHeight</key>
      <integer>-50</integer>
      <key>rotate</key>
      <false />
    </dict>
    <key>menuButtonOnRight</key>
    <dict>
      <key>x</key>
      <integer>786</integer>
      <key>y</key>
      <integer>95</integer>
      <key>width</key>
      <integer>6</integer>
      <key>height</key>
      <integer>50</integer>
      <key>offsetX</key>
      <real>0</real>
      <key>offsetY</key>
      <real>0</real>
      <key>originalWidth</key>
      <integer>6</integer>
      <key>originalHeight</key>
      <integer>-50</integer>
      <key>rotate</key>
      <false />
    </dict>
    <key>gameConsoleButtonHat</key>
    <dict>
      <key>x</key>
      <integer>720</integer>
      <key>y</key>
      <integer>145</integer>
      <key>width</key>
      <integer>95</integer>
      <key>height</key>
      <integer>95</integer>
      <key>offsetX</key>
      <real>0</real>
      <key>offsetY</key>
      <real>0</real>
      <key>originalWidth</key>
      <integer>95</integer>
      <key>originalHeight</key>
      <integer>-95</integer>
      <key>rotate</key>
      <false />
    </dict>
    <key>imageButtonRepeatSequenceOff</key>
    <dict>
      <key>x</key>
      <integer>720</integer>
      <key>y</key>
      <integer>95</integer>
      <key>width</key>
      <integer>32</integer>
      <key>height</key>
      <integer>44</integer>
      <key>offsetX</key>
      <real>0</real>
      <key>offsetY</key>
      <real>0</real>
      <key>originalWidth</key>
      <integer>32</integer>
      <key>originalHeight</key>
      <integer>-44</integer>
      <key>rotate</key>
      <false />
    </dict>
    <key>imageButtonRepeatSequenceOn</key>
    <dict>
      <key>x</key>
      <integer>752</integer>
      <key>y</key>
      <integer>95</integer>
      <key>width</key>
      <integer>40</integer>
      <key>height</key>
      <integer>50</integer>
      <key>offsetX</key>
      <real>0</real>
      <key>offsetY</key>
      <real>0</real>
      <key>originalWidth</key>
      <integer>40</integer>
      <key>originalHeight</key>
      <integer>-50</integer>
      <key>rotate</key>
      <false />
    </dict>
    <key>imageButtonRetryOff</key>
    <dict>
      <key>x</key>
      <integer>720</integer>
      <key>y</key>
      <integer>95</integer>
      <key>width</key>
      <integer>32</integer>
      <key>height</key>
      <integer>44</integer>
      <key>offsetX</key>
      <real>0</real>
      <key>offsetY</key>
      <real>0</real>
      <key>originalWidth</key>
      <integer>32</integer>
      <key>originalHeight</key>
      <integer>-44</integer>
      <key>rotate</key>
      <false />
    </dict>
    <key>imageButtonRetryOn</key>
    <dict>
      <key>x</key>
      <integer>752</integer>
      <key>y</key>
      <integer>95</integer>
      <key>width</key>
      <integer>40</integer>
      <key>height</key>
      <integer>50</integer>
      <key>offsetX</key>
      <real>0</real>
      <key>offsetY</key>
      <real>0</real>
      <key>originalWidth</key>
      <integer>40</integer>
      <key>originalHeight</key>
      <integer>-50</integer>
      <key>rotate</key>
      <false />
    </dict>
    <key>imageButtonShowNextOff</key>
    <dict>
      <key>x</key>
      <integer>720</integer>
      <key>y</key>
      <integer>95</integer>
      <key>width</key>
      <integer>32</integer>
      <key>height</key>
      <integer>44</integer>
      <key>offsetX</key>
      <real>0</real>
      <key>offsetY</key>
      <real>0</real>
      <key>originalWidth</key>
      <integer>32</integer>
      <key>originalHeight</key>
      <integer>-44</integer>
      <key>rotate</key>
      <false />
    </dict>
    <key>imageButtonShowNextOn</key>
    <dict>
      <key>x</key>
      <integer>752</integer>
      <key>y</key>
      <integer>95</integer>
      <key>width</key>
      <integer>40</integer>
      <key>height</key>
      <integer>50</integer>
      <key>offsetX</key>
      <real>0</real>
      <key>offsetY</key>
      <real>0</real>
      <key>originalWidth</key>
      <integer>40</integer>
      <key>originalHeight</key>
      <integer>-50</integer>
      <key>rotate</key>
      <false />
    </dict>
    <key>challenge_0</key>
    <dict>
      <key>x</key>
      <integer>720</integer>
      <key>y</key>
      <integer>241</integer>
      <key>width</key>
      <integer>70</integer>
      <key>height</key>
      <integer>69</integer>
      <key>offsetX</key>
      <real>0</real>
      <key>offsetY</key>
      <real>0</real>
      <key>originalWidth</key>
      <integer>70</integer>
      <key>originalHeight</key>
      <integer>-69</integer>
      <key>rotate</key>
      <false />
    </dict>
    <key>challenge_1</key>
    <dict>
      <key>x</key>
      <integer>790</integer>
      <key>y</key>
      <integer>241</integer>
      <key>width</key>
      <integer>70</integer>
      <key>height</key>
      <integer>69</integer>
      <key>offsetX</key>
      <real>0</real>
      <key>offsetY</key>
      <real>0</real>
      <key>originalWidth</key>
      <integer>70</integer>
      <key>originalHeight</key>
      <integer>-69</integer>
      <key>rotate</key>
      <false />
    </dict>
    <key>challenge_2</key>
    <dict>
      <key>x</key>
      <integer>860</integer>
      <key>y</key>
      <integer>241</integer>
      <key>width</key>
      <integer>70</integer>
      <key>height</key>
      <integer>69</integer>
      <key>offsetX</key>
      <real>0</real>
      <key>offsetY</key>
      <real>0</real>
      <key>originalWidth</key>
      <integer>70</integer>
      <key>originalHeight</key>
      <integer>-69</integer>
      <key>rotate</key>
      <false />
    </dict>
    <key>challenge_3</key>
    <dict>
      <key>x</key>
      <integer>930</integer>
      <key>y</key>
      <integer>241</integer>
      <key>width</key>
      <integer>71</integer>
      <key>height</key>
      <integer>69</integer>
      <key>offsetX</key>
      <real>0</real>
      <key>offsetY</key>
      <real>0</real>
      <key>originalWidth</key>
      <integer>71</integer>
      <key>originalHeight</key>
      <integer>-69</integer>
      <key>rotate</key>
      <false />
    </dict>
    <key>challenge_locked</key>
    <dict>
      <key>x</key>
      <integer>720</integer>
      <key>y</key>
      <integer>311</integer>
      <key>width</key>
      <integer>70</integer>
      <key>height</key>
      <integer>69</integer>
      <key>offsetX</key>
      <real>0</real>
      <key>offsetY</key>
      <real>0</real>
      <key>originalWidth</key>
      <integer>70</integer>
      <key>originalHeight</key>
      <integer>-69</integer>
      <key>rotate</key>
      <false />
    </dict>
    <key>wildcard_replay</key>
    <dict>
      <key>x</key>
      <integer>790</integer>
      <key>y</key>
      <integer>311</integer>
      <key>width</key>
      <integer>70</integer>
      <key>height</key>
      <integer>69</integer>
      <key>offsetX</key>
      <real>0</real>
      <key>offsetY</key>
      <real>0</real>
      <key>originalWidth</key>
      <integer>70</integer>
      <key>originalHeight</key>
      <integer>-69</integer>
      <key>rotate</key>
      <false />
    </dict>
    <key>wildcard_shownext</key>
    <dict>
      <key>x</key>
      <integer>860</integer>
      <key>y</key>
      <integer>311</integer>
      <key>width</key>
      <integer>70</integer>
      <key>height</key>
      <integer>69</integer>
      <key>offsetX</key>
      <real>0</real>
      <key>offsetY</key>
      <real>0</real>
      <key>originalWidth</key>
      <integer>70</integer>
      <key>originalHeight</key>
      <integer>-69</integer>
      <key>rotate</key>
      <false />
    </dict>
    <key>wildcard_replaycurrent</key>
    <dict>
      <key>x</key>
      <integer>930</integer>
      <key>y</key>
      <integer>311</integer>
      <key>width</key>
      <integer>71</integer>
      <key>height</key>
      <integer>69</integer>
      <key>offsetX</key>
      <real>0</real>
      <key>offsetY</key>
      <real>0</real>
      <key>originalWidth</key>
      <integer>71</integer>
      <key>originalHeight</key>
      <integer>-69</integer>
      <key>rotate</key>
      <false />
    </dict>
    <key>wildcard_close</key>
    <dict>
      <key>x</key>
      <integer>720</integer>
      <key>y</key>
      <integer>380</integer>
      <key>width</key>
      <integer>36</integer>
      <key>height</key>
      <integer>36</integer>
      <key>offsetX</key>
      <real>0</real>
      <key>offsetY</key>
      <real>0</real>
      <key>originalWidth</key>
      <integer>36</integer>
      <key>originalHeight</key>
      <integer>-36</integer>
      <key>rotate</key>
      <false />
    </dict>
  </dict>
</dict>
</plist>