<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>texture</key>
	<dict>
		<key>width</key>
		<integer>239</integer>
		<key>height</key>
		<integer>170</integer>
	</dict>
	<key>frames</key>
	<dict>
    <key>button_idle.png</key>
    <dict>
			<key>x</key>
			<integer>0</integer>
			<key>y</key>
			<integer>0</integer>
			<key>width</key>
			<integer>239</integer>
			<key>height</key>
			<integer>45</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>0</real>
			<key>originalWidth</key>
			<integer>239</integer>
			<key>originalHeight</key>
			<integer>-45</integer>
		</dict>
    <key>button_pressed.png</key>
    <dict>
			<key>x</key>
			<integer>0</integer>
			<key>y</key>
			<integer>45</integer>
			<key>width</key>
			<integer>239</integer>
			<key>height</key>
			<integer>45</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>0</real>
			<key>originalWidth</key>
			<integer>239</integer>
			<key>originalHeight</key>
			<integer>-45</integer>
		</dict>
    <key>text_story_mode.png</key>
    <dict>
			<key>x</key>
			<integer>2</integer>
			<key>y</key>
			<integer>90</integer>
			<key>width</key>
			<integer>118</integer>
			<key>height</key>
			<integer>20</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>0</real>
			<key>originalWidth</key>
			<integer>118</integer>
			<key>originalHeight</key>
			<integer>-20</integer>
		</dict>
    <key>text_arcade.png</key>
    <dict>
			<key>x</key>
			<integer>128</integer>
			<key>y</key>
			<integer>90</integer>
			<key>width</key>
			<integer>72</integer>
			<key>height</key>
			<integer>20</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>0</real>
			<key>originalWidth</key>
			<integer>72</integer>
			<key>originalHeight</key>
			<integer>-20</integer>
		</dict>
    <key>text_options.png</key>
    <dict>
			<key>x</key>
			<integer>2</integer>
			<key>y</key>
			<integer>110</integer>
			<key>width</key>
			<integer>78</integer>
			<key>height</key>
			<integer>20</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>0</real>
			<key>originalWidth</key>
			<integer>78</integer>
			<key>originalHeight</key>
			<integer>-20</integer>
		</dict>
    <key>text_highscore.png</key>
    <dict>
			<key>x</key>
			<integer>87</integer>
			<key>y</key>
			<integer>110</integer>
			<key>width</key>
			<integer>100</integer>
			<key>height</key>
			<integer>20</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>0</real>
			<key>originalWidth</key>
			<integer>100</integer>
			<key>originalHeight</key>
			<integer>-20</integer>
		</dict>
    <key>text_easy.png</key>
    <dict>
			<key>x</key>
			<integer>2</integer>
			<key>y</key>
			<integer>130</integer>
			<key>width</key>
			<integer>61</integer>
			<key>height</key>
			<integer>20</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>0</real>
			<key>originalWidth</key>
			<integer>61</integer>
			<key>originalHeight</key>
			<integer>-20</integer>
		</dict>
    <key>text_classic.png</key>
    <dict>
			<key>x</key>
			<integer>71</integer>
			<key>y</key>
			<integer>130</integer>
			<key>width</key>
			<integer>71</integer>
			<key>height</key>
			<integer>20</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>0</real>
			<key>originalWidth</key>
			<integer>71</integer>
			<key>originalHeight</key>
			<integer>-20</integer>
		</dict>
    <key>text_hard.png</key>
    <dict>
			<key>x</key>
			<integer>150</integer>
			<key>y</key>
			<integer>130</integer>
			<key>width</key>
			<integer>61</integer>
			<key>height</key>
			<integer>20</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>0</real>
			<key>originalWidth</key>
			<integer>61</integer>
			<key>originalHeight</key>
			<integer>-20</integer>
		</dict>
    <key>text_resume.png</key>
    <dict>
			<key>x</key>
			<integer>2</integer>
			<key>y</key>
			<integer>150</integer>
			<key>width</key>
			<integer>68</integer>
			<key>height</key>
			<integer>20</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>0</real>
			<key>originalWidth</key>
			<integer>68</integer>
			<key>originalHeight</key>
			<integer>-20</integer>
		</dict>
    <key>text_new_game.png</key>
    <dict>
			<key>x</key>
			<integer>78</integer>
			<key>y</key>
			<integer>150</integer>
			<key>width</key>
			<integer>64</integer>
			<key>height</key>
			<integer>20</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>0</real>
			<key>originalWidth</key>
			<integer>64</integer>
			<key>originalHeight</key>
			<integer>-20</integer>
		</dict>
</dict>
</dict>
</plist>