<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
  <key>filenames</key>
  <dict>
	  <key>buttonsound_normal_1</key>
	  <string>sounds/Bass_0001.wav</string>
	  <key>buttonsound_normal_2</key>
	  <string>sounds/SnareDrums_0011.wav</string>
	  <key>buttonsound_normal_3</key>
	  <string>sounds/SnareDrums_0013.wav</string>
	  <key>buttonsound_normal_4</key>
	  <string>sounds/TomTom_0004.wav</string>	    
	  <key>buttonsound_long_1</key>
	  <string>sounds/synth_1.mp3</string>
	  <key>buttonsound_long_2</key>
	  <string>sounds/synth_2.mp3</string>
	  <key>buttonsound_long_3</key>
	  <string>sounds/synth_3.mp3</string>
	  <key>buttonsound_long_4</key>
	  <string>sounds/synth_4.mp3</string>
	  <key>buttonsound_wrong</key>
	  <string>sounds/button_wrong.wav</string>
  </dict>
  <key>metadata</key>
  <dict>
	  <key>version</key>
	  <integer>1</integer>
  </dict>
</dict>
</plist>